name: Go Format Check in Master Folder

on: [push, pull_request]

jobs:
  gofmt:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.21'  

    - name: Check out code
      uses: actions/checkout@v4

    - name: Check formatting in master folder
      run: |
        cd master
        if [ -n "$(go fmt ./...)" ]; then
          echo "Go code in 'master' folder is not formatted, run 'go fmt' to fix"
          exit 1
        fi

  gotest:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.21'  

    - name: Check out code
      uses: actions/checkout@v4

    - name: Run Go tests in master folder
      run: |
        cd master
        go test ./...
